#show {
    float: left;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 15px 15px 15px 22px;
}
#show > li {
    text-align: left;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    direction: ltr;
    float: left;
    bottom: 0;
}

.go-bid {
    font-size: 14px;
    font-weight: 600;
    color: #337ab7;
    background-color: #c3d3ff;
    text-align: center;
    /*height: 30px;*/
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.go-bid {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.label-chat-heading {
    font-weight: 700;
    text-shadow: none;
    display: inline-block;
}

.chat-heading {
    text-shadow: none;
    display: inline-block;
    float: left;
}

.panel-primary {
    border-color: #dfdfdf;
}
.panel-primary > .panel-heading {
    background-color: #e24748;
    background-image: none;
    border-bottom-color: #d25656;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 250px;
}

.chat-img {
    margin-top: 5px;
}

.chat-img .img-circle {
    width: 40px;
    height: 40px;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    width: 100%;
}

.chat li.left .chat-body {
    margin-left: 60px;
    padding: 0 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    padding: 0 0 10px;
    color: #b41c1d;
    font-size: 20px;
    font-weight: 700;
}

.header-chat-body {
    width: 100%;
    display: inline-block;
    margin: 5px 0 0;
}

.primary-font {
    float: left;
}

.time-text {
    float: right;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.chat-area {
    width: 100%;
    /*position: relative;
    height: 100%;
    float: left;*/
}

.panel-body {
    padding: 0;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.panel-footer{
    display: block;
    /*border-top-color: #d21112;*/
}

.auto-bid-area {
    border-top: solid 1px #dfdfdf;
    margin-top: 20px;
    padding: 10px 0 0;
}

/* Mobile Only */
@media (max-width: 767px) {
    .hidden-text {
        display: none;
    }
    
    .primary-font {
    float: left;
    margin-right: 0;
    }
    
    .time-text {
        float: right;
    }
}
@media (max-width: 479px) {
    .hidden-text {
        display: none;
    } 
    
    .primary-font {
    float: left;
    margin-right: 0;
    }
    
    .time-text {
    float: right;
    }
}

@media screen and (max-width: 360px) {
    .label-chat-heading, .chat-heading { font-size: 90%; font-weight: 400;}
}

@media screen and (max-width: 320px) {
    .label-chat-heading, .chat-heading { font-size: 85%; font-weight: 400;}
}
