*{
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #62606c;
    line-height: 25px;
    text-shadow: 0px 2px 1px rgba(255, 255, 255, 1);
}
form input{
    color: black;
}

#videoModal.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

#videoModal.modal-content {
    background: none;
    border: none;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-title {
    padding-top: 10px;
}
.modal-header {
    background-color: none;
    border: none;
}
.modal-content {
    /*text-align: center;*/
}

.modal-custom-content {
    text-align: left;
    font-size: 14px;
}

.modal-video {
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
}

.starrr {
    font-size: 35px;
    letter-spacing: 15px;
}

.modal-footer {
    /*text-align: center;*/
}

/*navigation*/
.nav-holder:after{
    content: ''; 
    display: block; 
    clear: both;
}
.logo-header {
    float: left;
    padding: 10px 0;
}
.logo-holder{
    padding: 20px 0;
}

.inner-logo { 
    float: left; 
    position: relative; 
    z-index: 2;
    width: 100%;

}

.menu-link {
    font-size: 18px;
    color: #62606c;
}

.navbar-nav > li {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}
.navbar-nav > li a {
    color: #62606c;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    color: #db0000;
    background-color: rgba(255,255,255,0);
}

.navbar-nav > li.active >a {
    color: #db0000;
    background-color: rgba(255,255,255,0);
}

.navbar-nav.navbar-right .btn { 
    position: relative; 
    z-index: 2; 
    padding: 4px 20px; 
    margin: 10px auto; 
}

.navbar .navbar-collapse { 
    position: relative; 
}
.navbar .navbar-collapse .navbar-right > li:last-child { 
    padding-left: 22px; 
}

.navbar .nav-collapse { 
    position: absolute; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: 0; 
    padding-right: 120px; 
    padding-left: 80px; 
    width: 100%; 
}
.navbar.navbar-default .nav-collapse { 
    background-color: #f8f8f8; 
}
.navbar.navbar-inverse .nav-collapse { 
    background-color: #222; 
}
.navbar .nav-collapse .navbar-form { 
    border-width: 0; 
    box-shadow: none; 
}
.nav-collapse>li { 
    float: right; 
}

.navbar-right {
    margin-right: 0;
}

.btn.btn-circle { 
    border-radius: 50px; 
}
.btn.btn-outline { 
    background-color: transparent; 
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

.gutter {
    padding: 0 15px;
}

.no-gutter {
    padding: 0;
}

.specials {
    font-weight: bold !important;
}


/*images carousel*/
#myCarousel{
    padding: 0;
    margin: 0;
}
ul.thumbnails { 
    margin-bottom: 0px;
    padding: 0;
}
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .supplier-list {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .supplier-list {
        text-align: center;
        width: 100% !important;
    } 
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
/*end of images carousel*/

/*chat for bidding*/

/*chat for bidding end*/

.rules{
    border-radius: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
#terms{
    list-style: none; 
    margin: 0; 
    padding: 0
}
#terms li{
    margin-bottom: 10px
}
#terms li div{
    text-align: none;
}
.secondary-title{
    margin-top: 0;
    padding: 10px 8px 10px 0px;
    float: left;
}
.cont{
    text-align: center;
}
.stars {
    display: inline-block;
    /*line-height: 0;*/
}

input.star { display: none; }

label.star {
    float: right;
    padding: 4px;
    font-size: 15px;
    color: #444;
    /*transition: all .2s;*/
    text-align: right;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.eng{
    color:#c0171d;
}
.grey-bg{
    background-color: #f3f2f0;
}
.btn-custom, .btn-custom-bid {
    border-color: #c4c4c4; 
    color: #8a8a8a; 
    border-radius: 4px; 
    border-width: 1px;
    text-shadow: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    background-color: #fff;
}
.btn-send-bid {
    color: #fff;
    text-shadow: none;
    background-color: #f06e1b;
    float: right;
    border-color: #cc5e17;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.btn-custom-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-rate:hover {
    color: #fff;
    background-color: #39b54a;  
}

.btn-custom:hover,.btn-custom:active, .btn-custom:focus {
    background: #d9534f; 
    border-color: #d9534f; 
    color: #fff;
    text-shadow: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn-custom-bid {
    background: #42ba22;
    border-color: #42ba22;
    color: #fff;
}

.btn-custom-bid:hover,.btn-custom-bid:active {
    background: #d9534f; 
    border-color: #d9534f; 
    color: #fff;
    text-shadow: none;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#ajax-loader{display: none; background-color: rgba(255,255,255,0.5); position: fixed; width: 100%; height:100%; z-index: 99999; color:black}
#ajax-loader-container{top: 40%; left: 47%; padding:20px; border-radius: 10px; position: absolute; text-align: center; background-color: white}
#page-wrapper{
    max-width: 980px;
    margin: auto;
}
#top-header{
    padding-top:2px;
    padding-bottom:1px;
    background-color: #80828f;
    max-width: 980px;
    margin: 0 auto;
}
#header{
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 20px;
}
.logo-block{
    background-image: url(../img/elements/nav-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    float: left;
    display: block;
    padding: 20px 0;
}
#clock{
    padding-left: 15px;
    font-size: 11px;
}
#left-column{
    margin-top: 5px;
	margin-bottom: 20px;
}
#left-column ul.category-list {
    padding-left: 20px;
}
#left-column ul {
    list-style: none;
}
#left-column a{
    font-size: 14px;
}
.account-card{
    margin-left: 15px;
}
#extra-menu{
    padding: 0;
    margin: auto;
    width: 170px;
}
#extra-menu li{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
#extra-menu li a{
    padding: 7px 20px;
    display: block;
    text-decoration: none;
    background-image: url("images/l_left.jpg");
}
#extra-menu li ul li a{
    background-image: none;
    text-align: left;
    padding: 2px 20px;
}
.left-column-title{
    color: #BAAB60;
    font-size: 14px;
    padding-left: 10px;
}
.supplier-box{
    width: 100%;
    overflow: hidden;
}
.supplier-list{
    float: left;
    margin-right: 8px;
    width: 23.3%;
}
#ads-list{
    list-style: none;
    padding: 0;
    width:150px;
    margin: 10px auto;
}
#ads-list li{
    margin-top: 10px;
}
.block-menu{
    background-color: #fff;
    padding: 20px 10px;
    max-width: 300px;
    margin: 0 auto;
}
#left-login-form, #member-card{
    padding:10px 15px;
    border-radius: 10px;
}
#main-navigation{
    list-style: none;
    float: right;
}
#main-navigation li{
    display: inline-block;
    height: 32px;
}
#main-navigation li a{
    padding: 8px 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    color: #ffffff;
}
#main-navigation li a.selected, #main-navigation li a:hover{
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    cursor: pointer;
}

#content{
    /*margin-left: -15px;*/
    height: auto;
    /*padding: 0;*/
    margin-top: -15px;
}
#content-header{
    margin-top: 5px;
    background: linear-gradient(to bottom, #474444 , #000000);
    display: block;
    height: 20px;
}
#content-wrapper{
    padding: 0px 20px;
}
.item-attribute-label{
    color: #d9534f;
    font-size: 13px;
    font-weight: 600;
}

.item-title {
    float: left;
    margin-right: 20px;
    font-weight: 600;
}

.glyphicon-star {
    color: #f7941d;
}
.mysearch {
    float: right;
    margin: 8px 0 0 15px;
    font-size: 20px;
    color: #337ab7;
    background-color: rgba(255,255,255,0);
    border: none;
}

.mysearch:hover {
    color: #d9534f;
}

button.mysearch a {
    color: #ff0000;
}

.borderless td, .borderless th {
    border: none !important;
}

.table-no-margin {
     margin-bottom: 0px;
 }
table.table-borderless,table.table-borderless td,table.table-borderless th{
    border: none !important;
    font-size: 12px;
}
#item-table tr td, #item-table tr th{
    padding:4px;
    font-size: 12px;
}
.page{
    text-align: center;
}
.pagination > li >a, 
.pagination > li >span {
    border-radius: 4px !important;
    margin: 0 5px;
    text-shadow: none;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #62606c;
    background-color: #f3f2f0;
    border-color: #f3f2f0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #d9534f;
    border-color: #d9534f;
}
#footer-block{
    background-color: #62606c;
}

.block-title {
    color: #d9534f;
    /*font-size: 20px;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.block-title-label {
    color: #d9534f;
    /*font-size: 18px;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.block-title-modal {
    color: #d9534f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.terms-number{
    font-family: inherit;
    /*font-size: 15px;*/
    font-weight: 600;
    text-transform: capitalize;
    line-height: 25px
}
.index-action-list{
    list-style: none;
    margin:0;
    padding:5px 0;
}
.index-action-list li{
    display: inline-block;
    margin-right: 10px;
}
.index-action-list li a{
    font-size: 13px;
    /*font-weight: bold;*/
    letter-spacing: 1px;
}

.index-high-bid{
    position: absolute;
    top: -8px;
    left: -15px;
    z-index: 2;
}
.detail-high-bid{
    position: absolute;
    top:-10px;
    left: -10px;
}
.badgeBlock{
    z-index: 3;
}
#bidding-block{
	border: solid 1px white;
	padding: 15px;
}
#bidValue{
    background-color:#dcdcdc;
    padding: 3px;
}
.highlighted-info{
    background-color: darkgrey;
    color: #ff0000;
    padding: 3px 5px;
}
.highlighted-info.price{
    margin-top: 10px;
    display: block;
    border: solid 1px #ffffff;
    font-size: 18px;
    text-align: center;
}

/*FORM ERROR*/
input.error{
    background-color: rgba(255,153,153,0.6);
    border: none;
    color: white;
}
input.error::-webkit-input-placeholder {
    color: white;
}

input.error:-moz-placeholder { /* Firefox 18- */
    color: white;
}

input.error::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

input.error:-ms-input-placeholder {
    color: white;
}

/*Notification*/
#notif{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: white;
    display: block;
}

#notif.success{
    background-color: forestgreen;
}
#notif.error{
    background-color: indianred;
}
#notif.warning{
    background-color: darkorange;
}

.supplier-box{
    width: 100%;
    overflow: hidden;
    height: 110px;
}
@media (max-width: 360px ) {
    .supplier-box { height: 190px;}  
}
@media (max-width: 320px ) {
    .supplier-box { height: 170px;}  
}
.supplier-list{
    float: left;
    margin-right: 8px;
    width: 23.3%;
}

@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev     { left: -100%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev     { left: -50%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child, div:nth-child(2), div:nth-child(3), div:nth-child(4) { display:block; }
}
@media (min-width: 992px ) {
  .carousel-inner .active.left { left: -16.7%; }
  .carousel-inner .next        { left:  16.7%; }
  .carousel-inner .prev     { left: -16.7%; }  
}