*{
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #62606c;
    line-height: 25px;
    text-shadow: 0px 2px 1px rgba(255, 255, 255, 1);
}
form input{
    color: black;
}

/* Navigation */
.nav-holder:after{content: ''; display: block; clear: both;}
.logo-holder{float: left; padding: 20px 0;
background-image: url(../img/elements/nav-logo.png);}
.cr-navigation{float: right;position: relative;}
.cr-navigation:after{content: ''; display: block; clear: both;}
.cr-add-nav,
.cr-add-nav li{display: inline-block;}
.cr-add-nav li a{padding: 25px 15px; color: #333;}
.cr-add-nav li:last-child a{ padding-right:0;}
.cr-nav{float: left;position: relative;}
.cr-nav > ul > li{display: inline-block;}
.cr-nav > ul > li > a{ padding: 28px 15px; text-transform: capitalize; color: #333; position: relative; font-size: 16px; }
.inner-logo{background: url(../images/logos/logo-1.png) no-repeat; width: 215px; height: 36px; background-size: 100%;}

/*dropdown*/
.cr-nav > ul > li > ul{ list-style: none; margin: 0; padding: 0; top: 80%; border-radius: 0; position: absolute; width: 200px; 
visibility: hidden; opacity: 0; background: #fff; z-index: 10;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);}
.cr-nav > ul > li > ul li{ position: relative; float: none; border-bottom: 1px solid #e1e1e1;}
.cr-nav > ul > li > ul li:last-child{ border: 0;}
.cr-nav > ul > li > ul li a{ width: 100%; position: relative; color: #333; padding: 10px 15px; text-transform: capitalize; border-left: 4px solid;} 
.cr-nav > ul > li > ul li a:hover{ padding-left: 20px;border-left: 15px solid;}
.cr-nav > ul > li > ul li a:hover i{ color: #fff;}
.cr-nav > ul > li > ul li.active a{ border-left: 15px solid;}
.cr-nav > ul > li > ul li a i{ color: #666; position: absolute; right: 10px; top: 50%; margin: -7px 0 0;}
.cr-nav > ul > li:hover > ul{ visibility: visible; opacity: 1; top: 100%;z-index: 1000;}



.rules{
    border-radius: 10px;
}
#terms{
    list-style: none; 
    margin: 0; 
    padding: 0
}
#terms li{
    margin-bottom: 10px
}
#terms li div{
    text-align: none;
}
.secondary-tittle{
    margin-top: 0;
    padding: 10px 8px;
}
.cont{
    text-align: center;
}
.stars {
    display: inline-block;
    /*line-height: 0;*/
}

input.star { display: none; }

label.star {
    float: right;
    padding: 4px;
    font-size: 15px;
    color: #444;
    /*transition: all .2s;*/
    text-align: right;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.eng{
    color:#c0171d;
}
.grey-bg{
    background-color: #f3f2f0;
}
.btn-custom, .btn-custom-bid {
    border-color: #c4c4c4; 
    color: #8a8a8a; 
    border-radius: 4px; 
    border-width: 1px;
    text-shadow: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-custom:hover,.btn-custom:active, .btn-custom:focus {
    background: #d9534f; 
    border-color: #d9534f; 
    color: #fff;
    text-shadow: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.btn-custom-bid:hover,.btn-custom-bid:active, .btn-custom-bid:focus {
    background: #42ba22; 
    border-color: #42ba22; 
    color: #fff;
    text-shadow: none;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#ajax-loader{display: none; background-color: rgba(255,255,255,0.5); position: fixed; width: 100%; height:100%; z-index: 99999; color:black}
#ajax-loader-container{top: 40%; left: 47%; padding:20px; border-radius: 10px; position: absolute; text-align: center; background-color: white}
#page-wrapper{
    max-width: 980px;
    margin: auto;
}
#top-header{
    padding-top:2px;
    padding-bottom:1px;
    background-color: #80828f;
    max-width: 980px;
    margin: 0 auto;
}
#header{
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 20px;
}
.logo-block{
    background-image: url(../img/elements/nav-logo.png);
    background-repeat: no-repeat;
    height: 99px;
    background-position: 0 50%;
    width: 250px;
    float: left;
    display: block;
}

/*images carousel*/
#myCarousel{
    padding: 0;
    margin: 0;
}
ul.thumbnails { 
    margin-bottom: 0px;
    padding: 0;
}
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .supplier-list {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .supplier-list {
        text-align: center;
        width: 100% !important;
    } 
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
/*end of images carousel*/
#clock{
    padding-left: 15px;
    font-size: 11px;
}
#left-column{
    margin-top: 5px;
	margin-bottom: 20px;
}
#left-column ul.category-list {
    padding-left: 20px;
}
#left-column ul {
    list-style: none;
}
#left-column a{
    font-size: 14px;
}
.account-card{
    margin-left: 15px;
}
#extra-menu{
    padding: 0;
    margin: auto;
    width: 170px;
}
#extra-menu li{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
#extra-menu li a{
    padding: 7px 20px;
    display: block;
    text-decoration: none;
    background-image: url("images/l_left.jpg");
}
#extra-menu li ul li a{
    background-image: none;
    text-align: left;
    padding: 2px 20px;
}
.left-column-title{
    color: #BAAB60;
    font-size: 14px;
    padding-left: 10px;
}
.supplier-box{
    align-content: center;
}
.supplier-list{
    float: left;
    margin-right: 8px;
    width: 23.3%;
}
#ads-list{
    list-style: none;
    padding: 0;
    width:150px;
    margin: 10px auto;
}
#ads-list li{
    margin-top: 10px;
}
.block-menu{
    background-color: #fff;
    padding: 20px 10px;
    max-width: 300px;
    margin: 0 auto;
}
#left-login-form, #member-card{
    padding:10px 15px;
    border-radius: 10px;
}
#main-navigation{
    list-style: none;
    float: right;
}
#main-navigation li{
    display: inline-block;
    height: 32px;
}
#main-navigation li a{
    padding: 8px 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    color: #ffffff;
}
#main-navigation li a.selected, #main-navigation li a:hover{
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    cursor: pointer;
}

#content{
    /*margin-left: -15px;*/
    height: auto;
    /*padding: 0;*/
    margin-top: -15px;
}
#content-header{
    margin-top: 5px;
    background: linear-gradient(to bottom, #474444 , #000000);
    display: block;
    height: 20px;
}
#content-wrapper{
    padding: 0px 20px;
}
.item-attribute-label{
    color: #d9534f;
    font-size: 13px;
    font-weight: 600;
}
table.table-borderless,table.table-borderless td,table.table-borderless th{
    border: none !important;
}
#item-table tr td, #item-table tr th{
    padding:4px;
}
.page{
    text-align: center;
}
.pagination>li>a, 
.pagination>li>span {
    border-radius: 4px !important;
    margin: 0 5px;
    text-shadow: none;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #62606c;
    background-color: #f3f2f0;
    border-color: #f3f2f0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #d9534f;
    border-color: #d9534f;
}
#footer-block{
    background-color: #62606c;
}

.block-title{
    color: #d9534f;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.terms-number{
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 25px
}
.index-action-list{
    list-style: none;
    margin:0;
    padding:5px 0;
}
.index-action-list li{
    display: inline-block;
    margin-right: 10px;
}
.index-action-list li a{
    font-size: 13px;
    /*font-weight: bold;*/
    letter-spacing: 1px;
}

.index-high-bid{
    position: absolute;
    top: -8px;
    left: -15px;
    z-index: 2;
}
.detail-high-bid{
    position: absolute;
    top:-10px;
    left: -10px;
}
.badgeBlock{
    z-index: 3;
}
#bidding-block{
	border: solid 1px white;
	padding: 15px;
}
#bidValue{
    background-color:#dcdcdc;
    padding: 3px;
}
.highlighted-info{
    background-color: darkgrey;
    color: #ff0000;
    padding: 3px 5px;
}
.highlighted-info.price{
    margin-top: 10px;
    display: block;
    border: solid 1px #ffffff;
    font-size: 18px;
    text-align: center;
}

/*FORM ERROR*/
input.error{
    background-color: rgba(255,153,153,0.6);
    border: none;
    color: white;
}
input.error::-webkit-input-placeholder {
    color: white;
}

input.error:-moz-placeholder { /* Firefox 18- */
    color: white;
}

input.error::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

input.error:-ms-input-placeholder {
    color: white;
}

/*Notification*/
#notif{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: white;
    display: block;
}

#notif.success{
    background-color: forestgreen;
}
#notif.error{
    background-color: indianred;
}
#notif.warning{
    background-color: darkorange;
}